<web-app>  
  
<servlet>  
<servlet-name>DemoServlet</servlet-name>  
<servlet-class>com.DemoServlet</servlet-class>  
  
<init-param>  
<param-name>driver</param-name>  
<param-value>sun.jdbc.odbc.xyz</param-value>  
</init-param>  
  
</servlet>  
  
<servlet-mapping>  
<servlet-name>DemoServlet</servlet-name>  
<url-pattern>/servlet1</url-pattern>  
</servlet-mapping>  
  
</web-app>  